// global styles here
@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');

#app {    
  background-color: #f1f2f6;
}

* {
  box-sizing: border-box;
}

html, body, #app, #app>div {
  height: 100%;
}

.yupi {
  font-family: 'Dancing Script', cursive;
}

.yupi-tiny {
  font-size: 22px;;
}

.link {
  cursor: pointer;
}

.message {
  font-family: 'McLaren', cursive;
}